/* header */

.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

header .heading{
    background: #32d296;
}

header .contacts{
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

header .contacts i{
    margin-right: 50px;
    color: #080808;
}

.contacts i a{
    color: #080808;
    padding-left: 10px;
}

header .navigation{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

header .navigation .nav-menu{
    width: 800px;
    padding-top: 15px;
}

header .navigation .nav-menu .menu{
    display: flex;
    justify-content: space-around;
}

header .navigation .menu li{
    list-style: none;
}

header .navigation .menu li a{
    text-decoration: none;
    color: #080808;
}

header .navigation .menu li .active{
    color: #ffffff;
    font-weight: bold;
    border: 1px solid #32d296;
    border-radius: 30px;
    background: #32d296;
    padding: 10px;
}

header .navigation .menu li:hover{
    border: 1px solid #32d296;
    border-radius: 30px;
}

header .navigation .logo img{
    width: 140px;
    height: 60px;
}

header .navigation .logo{
    padding-left: 100px;
}


/* ad */

.container{
    margin: 20px;
}

.container .ad{
    display: flex;
    flex-direction: column;
    margin: 20px;
    border: 1px solid #32d296;
    border-radius: 30px;
    padding-top: 20px;
    text-align: center;
    color: #ec2147;
}

.container .ad h2{
    font-size: 30px;
    color: #ec2147;
}

.container .ad p{
    font-size: 18px;
    padding: 0 10px 10px 10px;
}

.container .ad .btn{
    width: 200px;
    height: 50px;
    font-size: 15px;
    background: #32d296;
    margin-bottom: 20px;
    color: #ffffff;
    border-radius: 30px;
    border: none;
    cursor: pointer;
}

.container .ad .btn:focus{
    outline: none;
}

/* content */

.content{
    margin: 30px;
}

.content h3{
    color: #32d296;
}

/* footer */

.footer{
    background: #32d296;
    color: #080808;
    padding: 35px;
    margin-top: 30px;
}

.text-content{
    text-align: center;
}

.footer-content{
    display: flex;
    justify-content: space-around;
}

.footer-content i{
    margin-right: 20px;
}

.footer-content .social a{
    text-decoration: none;
    color: #080808;
}

.footer-content .social a .viber{
    width: 30px;
    height: 30px;
}
.footer-content .social a .telegram{
    width: 35px;
    height: 35px;
    margin-right: 20px;
}

.copyright{
    text-align: center;
    padding: 20px;
}

/* payment */


.payment-content{
    display: flex;
    justify-content: center;
}

.payment-form{
    display: flex;
    flex-direction: column;
}

.payment-form .footnote{
    font-size: 12px;
}

.payment{
    text-align: center;
    border: 1px solid #32d296;
    border-radius: 35px;
    width: 500px;
    padding: 3px;
    color: #ffffff;
    background: #32d296;
    margin: 30px;
    align-items: center;
}

.payment h2{
    color: #ffffff;
}

.payment h3{
    margin: 3px;
    color: #ffffff;
}

.payment-form a{
    width: 200px;
    height: 50px;
    background: #32d296;
    border-radius: 30px;
    color: #ffffff;
    text-align: center;
    padding-top: 18px;
    font-size: 21px;
    font-weight: bold;
    margin: auto;
}



/* countdoun */


.timer{
    font-size: 0;
    text-align: center;
}
.timer_section{
    display: inline-block;
    vertical-align: top;
}
.timer_section > div{
    display: inline-block;
    vertical-align: top;
    font-size: 50px;
    background: #32d296;
    color: #ffffff;
    line-height: 70px;
    width: 55px;
    margin: 0 1px;
    border-radius: 2px;
}
.timer_section > div.timer_section_desc{
    display: block;
    background: none;
    color: inherit;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 30px;
    width: auto;
    margin: 0;
}
.timer_delimetr{
    display: inline-block;
    vertical-align: top;
    font-size: 50px;
    line-height: 70px;
    margin: 0 5px;
}

/* doc */

.container-doc{
    margin-top: 100px;
    margin-bottom: 100px;
}

.doc{
    display: flex;
    justify-content: center;
    text-decoration: none;
    border: 1px solid #32d296;
    border-radius: 30px;
    max-width: 300px;
    margin: auto;
    padding: 10px;
}

.doc a{
    text-decoration: none;
    color: #000000;
}


@media (max-width: 700px) {

   header .navigation .logo{
        padding-left: 40px;
        width: 400px;
        height: 90px;
    }

   
    header .contacts{
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        padding: 20px;
    }

    header .contacts i{
        margin-bottom: 15px;
    }

   header .navigation .nav-menu .menu{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    header .navigation .nav-menu .menu li{
        margin-bottom: 20px;
    }

    header .nav-media{
        text-align: center;
    }

    header .navigation{
        justify-content: center;
    }

    .footer-content{
        display: flex;
        flex-direction: column;
    }

    .footer-content .social{
        margin-top: 15px;
    }
}